{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
    <div class="card">
        <div class="card-header  text-bg-dark">
            {{ object }}
        </div>
        <div class="card-body">
          <form method="POST" action="{% url 'out_kafka_update' object.id %}">
            {% csrf_token %}
          
            {{ form.as_p }}
          
          <br/>
            <button type="submit" class="btn btn-success btn-sm">Update Output</button>
			<a href="{% url 'out_kafka_detail' object.id %}" class="btn btn-secondary">Back</a>
          
          </form>
        </div>
    </div>
{% endif %}
    
{% endblock %}