{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
    <div class="card">
        <div class="card-header  text-bg-dark">
            {{ object }}
        </div>
        <div class="card-body">
			<form method="post" class="card">
				{% csrf_token %}
				<h2>Delete Output</h2>
				<p>Are you sure that you want to delete "{{object}}"?</p>
				<p class="form-buttons">
					<input type="submit" class="btn btn-primary" value="Delete">
					<a href="{% url 'out_kafka_list' %}" class="btn btn-outline">Cancel</a>
				</p>
			</form>
        </div>
    </div>
{% endif %}
    
{% endblock %}